   /* هدر بالا */
   *{
    font-family: 'Yekan Bakh';
   }
   header {
    
    width: 80%;
 
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-self: flex-end;
    gap: 40px;
    margin-top: 38px;
  }
  @media (max-width: 1353px){header{width: 85%; justify-content: center;}}
  .header-left {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .dropdown {
    background-color: #f2f2f2;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .header-search-box{
    flex-direction: row-reverse;
    width: 60vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 17px;
  position: relative;
  min-width: 0;
  height: 61px;
  padding: 19px 31px 19px 31px;
  background: #f9f9f9;
  z-index: 70;
  overflow: hidden;
  border-radius: 10px;
}
.frame-input {
  flex-shrink: 0;
  position: relative;
 width: 100%;
  height: 61px;

  background: transparent;
  border: none;
  z-index: 73;
  outline: none;
}
.search {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  color: #7387a3;
  font-family: Yekan Bakh, var(--default-font-family);
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.icon-search{
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/header/search-icon.png) no-repeat center;
  background-size: cover;
  z-index: 72;
  overflow: hidden;
}
.qu-icon {
  position: relative;
  width: 19.998px;
  height: 19.998px;
  margin: 0px 0 0 0px;
  background: no-repeat center;
  background-size: 100% 100%;
  z-index: 69;
}
.header-profile-box {
  display: flex
;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: nowrap; */
  /* flex-shrink: 0; */
  gap: 11px;
  position: relative;

  z-index: 61;

}

.icon-down {
  position: relative;
  width: 11.5px;
  height: 6.5px;
  margin: 6.75px 0 0 4.25px;
  background: url(./assets/images/header/down-icon.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 63;
  cursor: pointer;
}

.header-profile_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;

  z-index: 64;
}
.userName {
  position: relative;
  min-width: 0;
  height: 25px;
  color: #3b3b3d;
  font-family: Yekan Bakh, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  text-align: right;
  z-index: 65;
}
.userAccess {
  position: relative;
  min-width: 0;
  height: 17px;
  color: #a4a2af;
  font-family: Yekan Bakh, var(--default-font-family);
  font-size: 11px;
  font-weight: 300;
  line-height: 17px;
  text-align: right;
  white-space: nowrap;
  z-index: 66;
}
.profile-img{
  flex-shrink: 0;
  position: relative;
  width: 37px;
  height: 37px;
  background: no-repeat center;
  background-size: cover;
  z-index: 67;
  border-radius: 50%;
}
 /* dropdown-menu */


 .dropdown-content {
  display: none; /* مخفی کردن منو به طور پیش‌فرض */
  position: absolute; /* موقعیت مطلق برای حفظ مکان فعلی */
  top: calc(100% + 5px); /* قرار دادن منو زیر آیکون با فاصله */
  left: 0; /* تراز کردن منو به سمت چپ */
  background-color: white; /* پس‌زمینه سفید برای منو */
  min-width: 160px; /* حداقل عرض منو */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* سایه برای منو */
  z-index: 100000; /* اطمینان از اینکه منو بالای سایر عناصر قرار گیرد */
  border-radius: 8px;
  padding: 5px;
}

/* استایل برای نمایش منو */
.dropdown-content.show {
    display: block; /* نمایش منو وقتی کلاس show وجود دارد */
}

.dropdown-content a {
    color: black; /* رنگ متن لینک‌ها */
    padding: 12px; /* فاصله داخلی لینک‌ها */
    text-decoration: none; /* حذف خط زیر لینک‌ها */
    display: block; /* نمایش لینک‌ها به صورت بلوک */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* تغییر رنگ پس‌زمینه هنگام هاور */
}

/* استایل برای لایه محو کننده */
